body {
  padding-top: 56px;
  background-color: #fbfbfb;
}
.bg-vue {
  background: #b63132;
}

.container-body {
  margin-top: 10%;
}

.form-card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.loading {
  background: transparent
    url("https://miro.medium.com/max/882/1*9EBHIOzhE1XfMYoKz1JcsQ.gif") center
    no-repeat;
  height: 400px;
  width: 100%;
}
